// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letterslist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.case {
  background-color: #3398DB;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: white;
}

form {
  width: 500px;
}
